.sidebar {
  flex: 0.2; /* 20% width */
}

.sidebar .hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar .subs {
  margin-left: 20px;
  font-weight: 500;
  color: rgb(92, 92, 92);
}
