.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebarRow__icon {
  color: rgb(121, 120, 120);
  font-size: large !important;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
  color: rgb(216, 29, 29);
}

.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
}

.sidebarRow.selected {
  background-color: lightgray;
}

.sidebarRow.selected > .sidebarRow__icon {
  color: rgb(216, 29, 29);
}

.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}

.sidebarChannel__logo {
  height: 30px !important;
  width: 30px !important;
}
