.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.songRow:hover {
  transition: 100ms background-color ease-in-out;
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__album {
  height: 50px;
  width: 50px;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__info > h1 {
  font-size: 16px;
}
